<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <title>Create new order</title>-->
<!--    <link rel="stylesheet"-->
<!--          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
<!--          crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->

<!--<br>-->
<!--<br>-->
<!--<div class = "container">-->
<!--    <div class = "row">-->
<!--        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--            <h1 class = "text-center"> Create New Movie </h1>-->
<!--            <div class = "card-body">-->
<!--                <form th:action="@{/user/admin/edit-movie/{id} (id=${movie.id})}" th:object = "${movie}" method="POST">-->

<!--                    <input type="hidden" th:field = "*{id}">-->

<!--                    <div class ="form-group">-->
<!--                        <label> Movie name </label>-->
<!--                        <input-->
<!--                                type = "text"-->
<!--                                name = "movieName"-->
<!--                                th:field = "*{movieName}"-->
<!--                                class = "form-control"-->
<!--                                placeholder="Enter movie name"-->
<!--                        />-->
<!--                    </div>-->



<!--                    <div class = "box-footer">-->
<!--                        <button type="submit" class = "btn btn-primary">-->
<!--                            Submit-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->