<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: imports"></div>
    <title>Profile page</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <table class="table table-bordered caption-top">
        <caption th:text="#{profile.info}">Your info</caption>
        <tr>
            <th th:text="#{first.name}"></th>
            <td th:text="${user.getFirstName()}"></td>
        </tr>
        <tr>
            <th th:text="#{last.name}"></th>
            <td th:text="${user.getLastName()}"></td>
        </tr>
        <tr>
            <th th:text="#{email}"></th>
            <td th:text="${user.getEmail()}"></td>
        </tr>
    </table>
    <div sec:authorize="hasRole('ROLE_USER')">
        <table class="table table-bordered caption-top">
            <caption th:text="#{your.orders}">Your orders</caption>

            <th>
                <a th:text="#{user.firsName}" th:href="@{${#httpServletRequest.requestURI}
                (page=${currentPage},
                sortBy='userName',
                direction=${reverseDirection})}">User ID</a>
            </th>

            <th>
                <a th:text="#{movie.name}" th:href="@{${#httpServletRequest.requestURI}
                (page=${currentPage},
                sortBy='movieId',
                direction=${reverseDirection})}">Movie Name</a>
            </th>


            <tr>
                <th th:text="#{date}">Date</th>
                <th th:text="#{movie}">Movie</th>
                <th th:text="#{seat}">Seat</th>
            </tr>

            <tr th:each="order : ${userOrders}">
                <td th:text="${order.getDate}">Date</td>
                <td th:text="${order.getSeat}">Seat</td>
            <tr th:each="movie : ${userMovie}">
                <td th:text="${movie.getMovieName()}">Movie name</td>
<!--            <tr th:each="movie : ${userMovie}">-->
<!--                <td th:text="${movie.getCountry()}">Movie country</td>-->
<!--            </tr>-->
        </table>
    </div>
</div>
</body>
</html>
