<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style th:replace="fragments/styling :: styling"></style>
    <meta charset="UTF-8">
    <div th:insert="fragments/header :: imports"></div>
    <title>Main page</title>
</head>

<body>
<div th:insert="fragments/header :: header"></div>

<h1 th:align="left" th:text="#{welcome.to.our.cinema}">Welcome</h1>
<!--<div class="form-signin">-->
<!--    <form action="#">-->
        <div th:align="left" class="form-signin">
            <a href="/login" class="btn btn-lg btn-primary btn-block" th:text="#{login}">Go to Login</a>
        </div>
        <div th:align="left" class="form-signin">
            <a href="/registration" class="btn btn-lg btn-primary btn-block" th:text="#{registration.submit}">
                Go to Registration</a>
        </div>
<!--    </form>-->
<!--</div>-->
</body>
</html>